@tailwind base;
@tailwind components;
@tailwind utilities;

.bg{
 background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%)

}

body {
 background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%)
}

.btn{
  transition: all 0.3s ease;
}
.btn:active{
  transform: scale(0.95);
}

.correct{
  background: #2a9134;
  color: #ffffff;
}
.incorrect{
  background: #d62828;
  color: #ffffff;

}